
.bg-dark-custom {
    background-color: #000;
}

body{
    /* font-family: cursive; */
}

#brand-animation{
    margin-top:200px;
    border: 12px solid black;
}

#brand-animation h1{
    font-size: 80px;
    font-weight: 900;
}

.sm-divider{
    height:5px;
}

#duvet-cleaning{
    background-color: rgb(77, 166, 238);
}

.thick-underline{
    text-decoration: underline;
    text-decoration-thickness: 14px;
}

#wash-fold-prices, #ironing-prices{
    background-color: azure;
}

.bg-main{
    background-color:aliceblue;
}

.price-icons{
    width:44px;
}


@media (max-width: 768px) {
    .service-img{
        max-height: 300px;
        /* width: 100%; */
    }
    #brand-animation h1{
        font-size: 40px;
    }
}